@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "Alumni Sans";
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url("https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&display=swap");
	}
}

@layer components {
	.invalid-field {
		@apply border border-red-500 border-solid animate-invalid_field;
	}
	.btn-dark {
		@apply bg-Dark text-white rounded-md p-2 hover:bg-transparent hover:text-Dark border-2 hover:border-Dark font-medium transition ease-in-out duration-150;
	}
	.marker {
		@apply absolute rounded-2xl bg-Dark left-3 top-2 h-4;
	}
	.link {
		@apply overflow-hidden after:duration-200 duration-300 bg-Sky md:bg-transparent text-Dark;
	}
	.link:hover,
	.active {
		@apply text-Green;
	}
	.link-line {
		@apply after:h-[2px] after:w-full after:bg-Green after:block after:-translate-x-full;
	}
	.link-line:hover {
		@apply after:translate-x-0;
	}
	.rounded-1\/2 {
		border-radius: 50%;
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
	background-color: #f8f8f8;
	height: fit-content;
	width: 100dvw;
}

@media (max-width: 767px) {
	.nav {
		position: absolute;
		top: 70px;
		right: 0;
		width: 100%;
		display: flex;
		flex-direction: column;
		background: white;
	}
	.nav-link {
		padding: 16px;
		width: 100%;
		font-size: 18px;
	}
}
@media (min-width: 768px) {
	.nav {
		display: flex;
		flex-direction: row;
	}
	.nav-link:not(:last-of-type) {
		margin-right: 26px;
	}
}

.custom-container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
}

::selection {
	background-color: #1e293b;
	color: #8dc543;
}

/* Media Queries */
/* Mobile devices */
@media (max-width: 480px) {
	.custom-container {
		padding: 0 15px;
	}
}

/* Tablets */
@media (min-width: 481px) and (max-width: 768px) {
	.custom-container {
		padding: 0 35px;
	}
}

/* Small laptops */
@media (min-width: 769px) and (max-width: 1024px) {
	.custom-container {
		padding: 0 65px;
	}
}
@media (min-width: 1024px) and (max-width: 1199px) {
	.custom-container {
		padding: 0 75px;
	}
}

/* Large screens */
@media screen and (min-width: 1200px) {
	.custom-container {
		max-width: 1200px;
	}
}
