<div class="cursor-pointer fixed z-50 bottom-12 left-12 2xl:bottom-20 2xl:left-20 origin-center">
  <input type="checkbox" name="chat" class="hidden peer/chat" id="chat">
  <div
    class="bg_overlay backdrop-blur-sm fixed left-0 top-0 z-10 origin-center peer-checked/chat:w-full peer-checked/chat:h-full peer-checked/chat:bg-black/20">

  </div>
  <label for="chat"
    class="rounded-1/2 w-12 h-12 md:w-16 md:h-16 relative flex z-20 justify-center items-center bg-Green cursor-pointer duration-300 overflow-hidden active:scale-90">
    <img src="./app/assets/public/chat.svg" alt="">
  </label>
  <div
  class="bg-Green rounded-1/2 w-12 h-12 absolute bottom-0 z-10 peer-checked/chat:-translate-y-[220%] md:w-16 md:h-16 cursor-pointer duration-300 overflow-hidden active:scale-90 flex justify-center items-center">
  <img src="./app/assets/public/whatsapp.svg" alt="">
</div>

<div
class="bg-Green rounded-1/2 w-12 h-12 absolute bottom-0 z-10 peer-checked/chat:-translate-y-[110%] md:w-16 md:h-16 cursor-pointer duration-300 overflow-hidden active:scale-90 flex justify-center items-center">
<img src="./app/assets/public/Call.svg" alt="">
</div>
</div>