<footer class=" text-Dark">
    <div class="custom-container">
        <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-5 py-10">
            <!-- About Section -->
            <div class="space-y-4 text-gray-500">

                <div class=" relative flex items-center">
                    <div class="marker -translate-x-7 w-12 -rotate-[65deg]">
                    </div>
                    <div class="marker -translate-x-5 w-16 -rotate-[35deg]">
                    </div>
                    <div class="marker translate-x-3 w-12 -rotate-[45deg]">
                    </div>
                    <div class="marker translate-x-6 w-12 -rotate-[75deg]">
                    </div>
                    <div class="marker translate-x-9 w-12 -rotate-[40deg]">
                    </div>
                    <h3 class="relative  text-lg font-semibold text-white z-10">
                        About Us
                    </h3>
                    <span class="flex-1 border-b-2 block border-gray-300 mx-6"></span>
                </div>
                <p>
                    {{description}}
                </p>
                <div>Location: {{ address.country}}, {{address.state}}, {{address.place }}
                    <copy-component
                        copyText="{{ address.country}}, {{address.state}}, {{address.place }}"></copy-component>
                </div>
            </div>
            <!-- Contact Info -->
            <div class="space-y-4">
                <div class="relative flex items-center">
                    <div class="marker -translate-x-7 w-12 -rotate-[65deg]">
                    </div>
                    <div class="marker -translate-x-5 w-16 -rotate-[35deg]">
                    </div>
                    <div class="marker translate-x-3 w-12 -rotate-[45deg]">
                    </div>
                    <div class="marker translate-x-6 w-12 -rotate-[75deg]">
                    </div>
                    <div class="marker  translate-x-9 w-12  -rotate-[35deg] ">
                    </div>
                    <div class="marker translate-x-14  w-14 -rotate-[40deg]">
                    </div>
                    <h3 class="relative  text-lg font-semibold text-white z-10">
                        Contact Info
                    </h3>
                    <span class="flex-1 border-b-2 block border-gray-300 mx-6"></span>

                </div>
                <ul class="space-y-2 text-gray-400">
                    <li>Email: <div class="inline-block text-nowrap"><a href="mailto:{{contacts.email}}"
                                class="font-semibold hover:text-Green hover:underline cursor-pointer">
                                {{contacts.email }} </a>
                            <copy-component copyText="{{contacts.email}}">
                        </div></copy-component>
                    </li>
                    <li>Phone: <a href="tel:+{{contacts.countryCode}} {{contacts.phone}}"
                            class="font-semibold hover:text-Green hover:underline text-nowrap cursor-pointer">
                            +{{contacts.countryCode}} {{contacts.phone }}</a>
                        <copy-component copyText="+{{contacts.countryCode}} {{contacts.phone }} "></copy-component>
                    </li>
                </ul>
            </div>
            <!-- Social Links -->
            <div class="space-y-4">
                <div class="relative flex items-center">
                    <div class="marker -translate-x-7 w-12 -rotate-[65deg]">
                    </div>
                    <div class="marker -translate-x-5 w-16 -rotate-[35deg]">
                    </div>
                    <div class="marker translate-x-3 w-12 -rotate-[45deg]">
                    </div>
                    <div class="marker translate-x-6 w-12 -rotate-[75deg]">
                    </div>
                    <div class="marker translate-x-9 w-14 -rotate-[40deg]">
                    </div>
                    <div class="marker translate-x-14 w-12 -rotate-[65deg]">
                    </div>
                    <div class="marker translate-x-16 w-14 -rotate-[40deg]">
                    </div>
                    <h3 class="relative  text-lg font-semibold text-white z-10">
                        Us On Media
                    </h3>
                    <span class="flex-1 border-b-2 block border-gray-300 mx-6"></span>
                </div>
                <ul class="space-y-2">
                    <li><a target="_blank" href="{{socials.instagram}}"
                            class="text-gray-400 hover:text-transparent font-semibold text-center text-xl bg-gradient-to-br from-[#8C3AAA] via-[#DD3C71] to-[#FA8F21] bg-clip-text duration-150">instagram</a>
                    </li>
                    <li><a target="_blank" href="{{socials.facebook}}"
                            class="text-gray-400 font-semibold text-center text-xl hover:text-[#1877F2] duration-150">facebook</a>
                    </li>
                    <li><a target="_blank" href="{{socials.whatsapp}}"
                            class="text-gray-400 font-semibold text-center text-xl hover:text-[#00E571] duration-150">whatsapp</a>
                    </li>
                </ul>
            </div>
            <!-- Newsletters -->
            <div class="space-y-4 ">
                <div class="flex flex-col items-center justify-center light">
                    <div class="w-full max-w-md bg-white rounded-lg shadow-md p-6">
                        <h2 class="text-2xl font-bold text-gray-800 mb-4">
                            Subscribe to Our Newsletter
                        </h2>

                        <form class="flex flex-col">
                            <input type="email"
                                class="bg-gray-100 text-Dark border-0 rounded-md p-2 mb-4 focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-Dark transition ease-in-out duration-150"
                                placeholder="Enter your email address" />

                            <button class="btn-Dark">
                                Subscribe
                            </button>
                        </form>

                        <div class="flex justify-center gap-2 mt-4">
                            <input type="checkbox" class="accent-Green" checked>
                            <a href="" class="text-sm text-Dark hover:underline">Privacy Policy</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- Bottom Bar -->
    </div>
    <div class=" py-3 border-t border-Dark text-center text-Dark">
        <p>&copy; <time id="currentYear"></time> {{name}}. All rights reserved.</p>
    </div>
</footer>