<footer class=" text-Dark">
    <div class="custom-container">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 py-10">
            <!-- About Section -->
            <div class="space-y-4">

                <div class=" relative flex items-center">
                    <div class="marker -translate-x-7 w-12 -rotate-[65deg]">
                    </div>
                    <div class="marker -translate-x-5 w-16 -rotate-[35deg]">
                    </div>
                    <div class="marker translate-x-3 w-12 -rotate-[45deg]">
                    </div>
                    <div class="marker translate-x-6 w-12 -rotate-[75deg]">
                    </div>
                    <div class="marker translate-x-9 w-12 -rotate-[40deg]">
                    </div>
                    <h3 class="relative  text-lg font-semibold text-white z-10">
                        About Us
                    </h3>
                    <span class="flex-1 border-b-2 block border-gray-300 mx-6"></span>
                </div>
                <p class="text-gray-400">
                    {{description}}
                </p>
            </div>

            <!-- Quick Links -->
            <div class="space-y-4">
                <div class="relative flex items-center">
                    <div class="marker -translate-x-7 w-12 -rotate-[65deg]">
                    </div>
                    <div class="marker -translate-x-5 w-16 -rotate-[35deg]">
                    </div>
                    <div class="marker translate-x-3 w-12 -rotate-[45deg]">
                    </div>
                    <div class="marker translate-x-6 w-12 -rotate-[75deg]">
                    </div>
                    <div class="marker translate-x-9 w-14 -rotate-[40deg]">
                    </div>
                    <div class="marker translate-x-14 w-12 -rotate-[65deg]">
                    </div>
                    <h3 class="relative  text-lg font-semibold text-white z-10">
                        Quick Links
                    </h3>
                    <span class="flex-1 border-b-2 block border-gray-300 mx-6"></span>
                </div>
                <ul class="space-y-2">
                    <li><a href="#" class="text-gray-400 hover:text-Green transition-colors duration-300">Home</a></li>
                    <li><a href="#" class="text-gray-400 hover:text-Green transition-colors duration-300">Services</a>
                    </li>
                    <li><a href="#" class="text-gray-400 hover:text-Green transition-colors duration-300">Products</a>
                    </li>
                    <li><a href="#" class="text-gray-400 hover:text-Green transition-colors duration-300">Contact</a>
                    </li>
                </ul>
            </div>

            <!-- Contact Info -->
            <div class="space-y-4">
                <div class="relative flex items-center">
                    <div class="marker -translate-x-7 w-12 -rotate-[65deg]">
                    </div>
                    <div class="marker -translate-x-5 w-16 -rotate-[35deg]">
                    </div>
                    <div class="marker translate-x-3 w-12 -rotate-[45deg]">
                    </div>
                    <div class="marker translate-x-6 w-12 -rotate-[75deg]">
                    </div>
                    <div class="marker  translate-x-9 w-12  -rotate-[35deg] ">
                    </div>
                    <div class="marker translate-x-14  w-14 -rotate-[40deg]">
                    </div>
                    <h3 class="relative  text-lg font-semibold text-white z-10">
                        Contact Info
                    </h3>
                    <span class="flex-1 border-b-2 block border-gray-300 mx-6"></span>

                </div>
                <ul class="space-y-2 text-gray-400">
                    <li>Email:<a mailto="{{contact.email}}">{{contacts.email    }}</a></li>
                    <li>Phone: {{ contacts.phone     }}</li>
                    <li>Address: {{address.street    }}, {{   address.city}}, {{address.country}}</li>
                </ul>
            </div>

            <!-- Social Links -->
            <div class="space-y-4 ">
                <!-- <h3 class=" text-lg font-semibold text-Dark">send us a message</h3> -->
                <div class="flex flex-col items-center justify-center light">
                    <div class="w-full max-w-md bg-white rounded-lg shadow-md p-6">
                        <h2 class="text-2xl font-bold text-gray-800 mb-4">
                            Subscribe to Our Newsletter
                        </h2>

                        <form class="flex flex-col">
                            <input type="email"
                                class="bg-gray-100 text-Dark border-0 rounded-md p-2 mb-4 focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-Dark transition ease-in-out duration-150"
                                placeholder="Enter your email address" />

                            <button class="btn-dark">
                                Subscribe
                            </button>
                        </form>

                        <div class="flex justify-center mt-4">
                            <a href="#" class="text-sm text-Dark hover:underline">Privacy Policy</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- Bottom Bar -->
    </div>
    <div class=" py-3 border-t border-Dark text-center text-Dark">
        <p>&copy; <time id="currentYear"></time> {{name}}. All rights reserved.</p>
    </div>
</footer>