<section class="contact py-14">
  <div class="custom-container">
    <heading-component>contact</heading-component>
    <div class=" flex flex-col-reverse lg:flex-row items-center justify-between gap-8">
      <div class="contacts flex flex-row justify-between lg:justify-center lg:flex-col gap-6 flex-wrap">
        <div>
          <h2 class="text-xl font-semibold mb-2">Call us</h2>
          <p>Call our team Mon-Fri from 8am to 5pm.</p>
          <p class="mt-2 flex items-center">
            +1 (555) 000-0000
          </p>
        </div>
        <div>
          <h2 class="text-xl font-semibold mb-2">Chat with us</h2>
          <p>Speak to our friendly team via live chat.</p>
          <ul class="mt-2 space-y-2">
            <li class="flex items-center">
              Start a live chat
            </li>
            <li class="flex items-center">
              Shoot us an email
            </li>
            <li class="flex items-center">
              Message us on Twitter
            </li>
          </ul>
        </div>
        <div>
          <h2 class="text-xl font-semibold mb-2">Visit us</h2>
          <p>Chat to us in person at our Melbourne HQ.</p>
          <p class="mt-2 flex items-center">
            100 Smith Street, Collingwood VIC 3066
          </p>
        </div>
      </div>
      <div
        class="grid gap-5 sm:gap-6 grid-cols-1 w-full xs:w-fit xs:grid-cols-2 bg-white shadow-md rounded-lg p-6 space-6">
        <label for="first_name" class="relative">
          <input type="text" id="first_name" placeholder="First name"
            class=" peer/firstname border rounded-lg px-4 py-2 w-full hover:invalid-field " />
          <p class="absolute top-full opacity-0 duration-100 peer-hover/firstname:opacity-100 text-pink-600 text-xs">
            only use letters, at least 4 characters.
          </p>
        </label>
        <label for="last_name" class="relative">
          <input type="text" id="last_name" placeholder="Last name"
            class="peer/lastname border rounded-lg px-4 py-2 w-full hover:invalid-field" />
          <p class="absolute top-full opacity-0 duration-100 peer-hover/lastname:opacity-100 text-pink-600 text-xs">
            only use letters at least 4 characters.
          </p>
        </label>
        <label for="email" class="relative xs:col-span-2">
          <input type="email" id="email" placeholder="Email" class="peer/email border rounded-lg px-4 py-2 w-full hover:invalid-field" />
          <p class="absolute top-full opacity-0 duration-100 peer-hover/email:opacity-100 text-pink-600 text-xs">
            Please provide a valid email address. </p>
        </label>
        <select class="border rounded-lg px-4 py-2 w-full hover:invalid-field">
          <option value="US">US</option>
          <option value="UK">UK</option>
          <option value="AU">AU</option>
        </select>
        <label for="phone" class="relative">
        <input type="text" id="phone" placeholder="+1 (555) 000-0000" class="border rounded-lg px-4 py-2 w-full hover:invalid-field peer/phone" />
        <p class="absolute top-full opacity-0 duration-100 peer-hover/phone:opacity-100 text-pink-600 text-xs">
          only use letters, at least 4 characters.
        </p>
      </label>
        <label for="textarea" class="relative xs:col-span-2">
          <textarea placeholder="Leave us a message..." id="textarea" rows="4"
            class="peer/textarea border rounded-lg px-4 py-2 w-full hover:invalid-field"></textarea>
          <p class="absolute top-full opacity-0 duration-100 peer-hover/textarea:opacity-100 text-pink-600 text-xs">
            only use letters, at least 4 characters.
          </p>
        </label>
        <button class="btn-dark w-full xs:col-span-2">
          Send message
        </button>
      </div>

    </div>
  </div>
</section>