<section class="contact py-14">
  <div class="custom-container">
    <heading-component>contact</heading-component>
    <div class=" flex flex-col-reverse lg:flex-row items-center justify-between gap-8">
      <div class="contacts flex flex-row justify-between lg:justify-center lg:flex-col gap-6 flex-wrap">
        <div>
          <h2 class="text-xl font-semibold mb-2">Call us</h2>
          <p>Call our team Mon-Fri from 8am to 5pm.</p>
          <p class="mt-2 flex items-center">
            +1 (555) 000-0000
          </p>
        </div>
        <div>
          <h2 class="text-xl font-semibold mb-2">Chat with us</h2>
          <p>Speak to our friendly team via live chat.</p>
          <ul class="mt-2 space-y-2">
            <li class="flex items-center">
              Start a live chat
            </li>
            <li class="flex items-center">
              Shoot us an email
            </li>
            <li class="flex items-center">
              Message us on Twitter
            </li>
          </ul>
        </div>
        <div>
          <h2 class="text-xl font-semibold mb-2">Visit us</h2>
          <p>Chat to us in person at our Melbourne HQ.</p>
          <p class="mt-2 flex items-center">
            100 Smith Street, Collingwood VIC 3066
          </p>
        </div>
      </div>
      <div class=" bg-white shadow-md rounded-lg p-6 space-y-6">
        <div class="grid grid-cols-2 gap-4">
          <input type="text" placeholder="First name" class="border rounded-lg px-4 py-2 w-full" />
          <input type="text" placeholder="Last name" class="border rounded-lg px-4 py-2 w-full" />
        </div>
        <input type="email" placeholder="Email" class="border rounded-lg px-4 py-2 w-full" />
        <div class="grid grid-cols-2 gap-4">
          <select class="border rounded-lg px-4 py-2 w-full">
            <option value="US">US</option>
            <option value="UK">UK</option>
            <option value="AU">AU</option>
          </select>
          <input type="text" placeholder="+1 (555) 000-0000" class="border rounded-lg px-4 py-2 w-full" />
        </div>
        <textarea placeholder="Leave us a message..." rows="4" class="border rounded-lg px-4 py-2 w-full"></textarea>
        <button class="btn-dark w-full">
          Send message
        </button>
      </div>

    </div>
  </div>
</section>