<section class="about py-14">
  <div class="custom-container">
    <heading-component>About Us</heading-component>
    <!-- <div class="flex flex-col items-center justify-center text-center"> -->
      <!-- <p class="text-lg text-gray-400">Learn more about our story and mission</p> -->
    <!-- </div> -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      <div class="bg-white rounded-lg shadow-lg p-6">
        <h2 class="text-2xl font-bold text-Dark">Our Story</h2>
        <p class="text-lg text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla auctor, vestibulum magna sed, convallis ex.</p>
      </div>
      <div class="bg-white rounded-lg shadow-lg p-6">
        <h2 class="text-2xl font-bold text-Dark">Our Mission</h2>
        <p class="text-lg text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla auctor, vestibulum magna sed, convallis ex.</p>
      </div>
      <div class="bg-white rounded-lg shadow-lg p-6">
        <h2 class="text-2xl font-bold text-Dark">Our Values</h2>
        <p class="text-lg text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla auctor, vestibulum magna sed, convallis ex.</p>
      </div>
    </div>
    <div class="flex flex-col items-center text-center mt-12">
      <h2 class="text-3xl font-bold text-Dark">Meet Our Team</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mt-6">
        <div class="bg-white rounded-lg shadow-lg p-6 h-fit">
          <img alt="Team Member" class="w-full h-32 bg-gray-50 object-cover object-center rounded-lg">
          <h3 class="text-xl font-bold text-Dark mt-4">John Doe</h3>
          <p class="text-lg text-gray-600">Founder & CEO</p>
        </div>
        <div class="bg-white rounded-lg shadow-lg p-6 h-fit">
          <img alt="Team Member" class="w-full h-32 bg-gray-50 object-cover object-center rounded-lg">
          <h3 class="text-xl font-bold text-Dark mt-4">Jane Doe</h3>
          <p class="text-lg text-gray-600">Co-Founder & CMO</p>
        </div>
        <div class="bg-white rounded-lg shadow-lg p-6 h-fit">
          <img alt="Team Member" class="w-full h-32 bg-gray-50 object-cover object-center rounded-lg">
          <h3 class="text-xl font-bold text-Dark mt-4">Bob Smith</h3>
          <p class="text-lg text-gray-600">CTO</p>
        </div>
      </div>
    </div>
  </div>
</section>