<div class="custom-container">
    <div class="svg-holder absolute inset-0 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full h-96 z-0">
        <svg viewBox="0 0 1280 674" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="animate-drawSvg svg-path-hero"
                d="M-52.5405 3.16513C-52.5405 3.16513 25.2832 197.567 127.719 290.693C261.632 412.435 412.349 432.283 548.222 340.785C571.102 325.377 626.791 261.665 612.05 184.334C593.472 86.8682 479.789 34.4365 386.37 67.7625C311.818 94.3574 290.599 134.121 276.221 180.051C234.962 311.861 382.451 395.795 515 434.5C646.571 472.92 731.993 358.534 799.922 338.098C902.13 307.348 981.545 323.63 1069.28 384.445C1165.16 450.909 1309.5 669.579 1309.5 669.579"
                stroke="#8DC543" stroke-width="9" />
        </svg>

    </div>
    <div class="z-10 relative mx-auto w-fit h-full py-28 flex flex-col justify-center text-center">
        <h1 class="xl:text-7xl md:text-6xl relative text-4xl sm:text-5xl font-semibold text-Dark">
            <div class="block">
                Welcome to
            </div>
            </wbr>
            The premium market
        </h1>
        <span class="text-lg text-gray-500 md:text-xl xl:text-2xl mt-2">
            <span class="block">we are Specialized on dates, dry fruits, and a variety </span>of food products.
        </span>
        <button
            class="explore-button group/button relative overflow-hidden mt-4 text-2xl duration-150 text-white hover:text-Green bg-Dark hover:bg-transparent border-4 hover:border-Green font-medium rounded-full px-8 py-3 w-fit mx-auto">Explore
            Now
            <div
                class="absolute top-1/2 left-1/2 transform origin-center -translate-x-1/2 -translate-y-1/2 w-0 h-0 group-hover/button:w-72 group-hover/button:h-72 duration-[800ms] rounded-1/2 bg-Dark transition-all ease-in-out z-[-1]">
            </div>
        </button>
    </div>
    <section class="services">
        <heading-component>our services</heading-component>
        <div class="holder grid gap-6 grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
            <card-component imgPath="./app/assets/services_imgs/wheat.png"
                loadingImgPath="./app/assets/services_imgs/small_imgs/wheat.png">
                <span slot="title">this is title</span>
                <span slot="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum nobis nemo
                    consectetur modi facere quia doloribus aliquid quo harum minima.</span>
            </card-component>
            <card-component imgPath="./app/assets/services_imgs/meat.png"
                loadingImgPath="./app/assets/services_imgs/small_imgs/meat.png">
                <span slot="title">this is title</span>
                <span slot="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum nobis nemo
                    consectetur modi facere quia doloribus aliquid quo harum minima.</span>
            </card-component>
            <card-component imgPath="./app/assets/services_imgs/dates.png"
                loadingImgPath="./app/assets/services_imgs/small_imgs/dates.png">
                <span slot="title">this is title</span>
                <span slot="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum nobis nemo
                    consectetur modi facere quia doloribus aliquid quo harum minima.</span>
            </card-component>
        </div>
    </section>
    <section class="values py-14">
        <heading-component>our values</heading-component>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
            <!-- Card 1 -->
            <div class="group/card p-6 border relative duration-150 rounded-lg text-center shadow-sm hover:shadow-md">
                <span
                    class="text-9xl absolute group-hover/card:blur-md duration-150 left-1/2 top-1/2 font-bold -translate-y-1/2 -translate-x-1/2 -z-1 select-none text-gray-300 opacity-45">
                    01</span>
                <h3 class="text-2xl font-bold text-Dark">Quality Dry Fruits</h3>
                <p class="text-gray-400 font-normal mt-2 inline-block">At Future’s Land, we specialize
                    in trading
                    premium food products, focusing on dates and dry fruits, alongside various other essentials
                    like oils, vegetables, and meats for diverse markets.</p>
            </div>
            <!-- Card 2 -->
            <div class="group/card p-6 border relative duration-150 rounded-lg text-center shadow-sm hover:shadow-md">
                <span
                    class="text-9xl absolute group-hover/card:blur-md duration-150 left-1/2 top-1/2 font-bold -translate-y-1/2 -translate-x-1/2 -z-1 select-none text-gray-300 opacity-45">
                    02</span>
                <h3 class="text-2xl font-bold text-Dark">B2B Partnerships</h3>
                <p class="text-gray-400 font-normal mt-2 inline-block">We aim to establish strong B2B relationships,
                    providing high-quality food products tailored to meet the needs of businesses in Dubai and
                    beyond, ensuring satisfaction and reliability in every transaction.</p>
            </div>
            <!-- Card 3 -->
            <div class="group/card p-6 border relative duration-150 rounded-lg text-center shadow-sm hover:shadow-md">
                <span
                    class="text-9xl absolute group-hover/card:blur-md duration-150 left-1/2 top-1/2 font-bold -translate-y-1/2 -translate-x-1/2 -z-1 select-none text-gray-300 opacity-45">
                    03</span>
                <h3 class="text-2xl font-bold text-Dark">Consumer Focused Markets</h3>
                <p class="text-gray-400 font-normal mt-2 inline-block">Our commitment extends to B2C markets,
                    offering a wide range of food products directly to consumers, ensuring quality and freshness in
                    every purchase, enhancing the culinary experience for all.</p>
            </div>
            <!-- Card 4 -->
            <div class="group/card p-6 border relative duration-150 rounded-lg text-center shadow-sm hover:shadow-md">
                <span
                    class="text-9xl absolute group-hover/card:blur-md duration-150 left-1/2 top-1/2 font-bold -translate-y-1/2 -translate-x-1/2 -z-1 select-none text-gray-300 opacity-45">
                    04</span>
                <h3 class="text-2xl font-bold text-Dark">Quality Dry Fruits</h3>
                <p class="text-gray-400 font-normal mt-2 inline-block">At Future’s Land, we specialize
                    in trading
                    premium food products, focusing on dates and dry fruits, alongside various other essentials
                    like oils, vegetables, and meats for diverse markets.</p>
            </div>
        </div>
    </section>

    <div class="text-center my-16 p-5 text-white rounded-3xl bg-Dark">
        <h2 class="text-4xl md:text-5xl font-semibold">Ready to Elevate your opportunities?
        </h2>
        <p class="mt-4 text-2xl font-light">start your first order with us from here.</p>
        <button class="bg-white text-Dark rounded-3xl font-semibold px-6 py-2 mt-6">get started</button>
    </div>
</div>